/* Font definition */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
}

body {
    cursor: context-menu;
    background-image: url('../img/bg/img6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.game-header {
    box-shadow: 6px 7px 25px 24px rgba(0, 255, 34, 0.10);
    background-color: darkgrey;
    opacity: 0.95;
    border-radius: 5%;
}

/* Heading title */
.heading {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
}

/* Emoji button */
.restart {
    text-align: center;
    font-size: 30px;
}

.difficulty {
    margin-bottom: 20px;
}

/* Use to hide the difficulty guide */
.hideText {
    font-size: 0px;
}

.timer {
    padding-top: 20px;
    margin-bottom: 20px;
    background-image: url("../img/clock.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    text-shadow: 0px 0px 10px #A9A9A9, 5px 0px 10px #075607;
    font-size: 17px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
}

.board {
    cursor: cell;
}

p {
    text-shadow: 0px 0px 5px #969696;
}

.game-container {
    text-align: center;
    display: table;
    margin: 0 auto;
}

td,
tr {
    font-size: 20px;
    width: 30px;
    height: 45px;
    border: 4px ridge #000;
    text-align: center;
}

/* changes the default configuration for <p> elements
as they have a default padding attribute and we don't want that */
p {
    margin: 0;
    padding: 0;
}

/* Closed cell */
.blank {
    width: 30px;
    height: 45px;
    background-color: #A3A3A3;
}

/* Open cell */
.open {
    width: 30px;
    height: 45px;
    background-color: #686868;
}

.flagged {
    background-color: #A3A3A3;
    /* background-color: darkred; */
}

/* ! this definition hides the content under the cells (numbers & mines) */
.blank>p {
    display: none;
}

.flagged>p {
    display: none;
}

/* Define different colors to each designated "minesAroundCount" property */
[data-set="5"] {
    color: darkmagenta;
}

[data-set="4"] {
    color: darkred;
}

[data-set="3"] {
    color: red;
}

[data-set="2"] {
    color: darkgreen;
}

[data-set="1"] {
    color: darkblue;
}

[data-set="-1"]>p {
    font-size: 0px;
}

.hiddenText {
    font-size: 0px;
}

/* BOMB img configuration */
img {
    height: 30px;
    width: 30px;
}

.results {
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 0px 10px #A9A9A9, 5px 0px 10px #075607;
}

footer {
    border: 3px groove #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-size: 20px;
    width: 20%;
    background-color: grey;
    color: black;
    text-align: center;
}

.modal-container {
    position: fixed;
    background-color: #fff;
    width: 70%;
    max-width: 400px;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

/* hide modal */
.hide {
    display: none;
}

/* Uncomment for tests */
/* .mine {
    background-color: red;
}  */